@font-face {
    font-family: "MuliRegular";
    src: url(fonts/Muli-Regular.ttf) format("truetype");

}

@font-face {
    font-family: "MuliBold";
    src: url(fonts/Muli-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(fonts/Muli-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliItalic";
    src: url(fonts/Muli-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliBoldItalic";
    src: url(fonts/Muli-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(fonts/Muli-Semi-BoldItalic.ttf) format("truetype");
}

/*
font-family: "MuliRegular", sans-serif;
font-family: "MuliBold", sans-serif;
font-family: "MuliExtraBold", sans-serif;
font-family: "MuliItalic", sans-serif;
font-family: "MuliBoldItalic", sans-serif;
font-family: "MuliSemiBoldItalic", sans-serif;
border:  1px solid red;
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MuliRegular", sans-serif;
}


.header {
    background-image: url('img/header_bg_img_3669.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__top {
    padding: 85px 100px 70px;
    position: relative;
}
.header__burger-btn {
    background-image: url(img/square.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
    z-index: 999;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {}

.nav {}

.nav__list {
    list-style: none;
    display: flex;
    column-gap: 34px;
}

.nav__item {}

.nav__link {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "MuliBold", sans-serif;
    color: #ffffff;
}

.header__logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-52%);
}

.logo {}

.logo__img {}

.header__right-block {
    display: flex;
    align-items: center;
}

.header__personal {
    display: flex;
    column-gap: 46px;
    margin-right: 134px;
    margin-top: 5px;
    position: relative;
}

.header__personal::after {
    content: "";
    background-image: url(img/line_2944.png);
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    right: -95px;
}

.personal {}

.personal__item {
    position: relative;
}

.personal__link {}

.personal__img {}

.personal__counter {
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    text-align: center;
    line-height: 2;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: -10px;
    left: 20px;
    border-radius: 50%;
}

.header__social {
    display: flex;
    column-gap: 7px;
}

.social {}

.social__item {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
}

.social__link {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.social__img {}

.header__content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header__btn {
    font-family: "MuliBold", sans-serif;
    width: 280px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
    position: relative;
    text-align: left;
    padding: 0 0 0 39px;
    transition: 1s;
}

.header__btn::after {
    content: "";
    background-image: url(img/arrow__3264.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 30px;
    right: 40px;
}
.header__btn:hover {
    transform: scale(110%);
    color:black;
}

.btn {
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 30px;
    background: transparent;
    transition: 1s;
}
.btn:hover {
    transform: scale(110%);
}

.btn--green {
    background-color: #0aa566;
}

.smoothies {
    padding-top: 100px;
    padding-bottom: 78px;
}

.smoothies__container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.smoothies__title {}

.title {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}

.smoothies__text {
    width: 915px;
    text-align: center;
    margin-top: 40px;
}

.text {
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.smoothies__wrapper {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: flex-end;
}

.smoothies__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 205px;
}

.smoothies__box:first-child {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(2) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(3) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(5) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(6) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__img {}

.smoothies__name {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
    margin-top: 19px;
}

.about {
    background-color: #138370;
}

.about__wrapper {
    display: flex;
    justify-content: flex-start;
}

.about__img {
    margin-left: 145px;
    transform: translateY(80px);
    object-fit: cover;
    max-width: 691px;
    width: 100%;
}

.about__inner {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    margin-top: 104px;
}

.about__title {
    font-size: 55px;
    line-height: 60px;
    color: #ffffff;
    position: relative;
}

.about__title::after {
    content: "";
    background-image: url(img/line_3078.png);
    position: absolute;
    width: 450px;
    height: 13px;
    bottom: -10px;
    right: 70px;
}

.about__text {
    color: #cae941;
}

.about__list {
    margin-top: 45px;
    margin-left: 24px;
}

.about__item {
    list-style-image: url(img/123.png);
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 43px;
    color: #ffffff;
    padding-left: 17px;
}

.about__item-thin {
    font-family: "MuliRegular", sans-serif;
}

.about__btn {
    margin-top: 38px;
    width: 380px;
    height: 63px;
    border: 2px solid #f8b231;
    position: relative;
    text-align: left;
    padding: 0 0 4px 29px;
}

.about__btn::after {
    content: "";
    background-image: url(img/arrow__3264.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 23px;
    right: 38px;
}

.product {}

.product__wrapper {
    display: flex;
}

.product__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.product__img {
    margin-top: 130px;
    margin-right: 10px;
    transition: 1s;
    object-fit: cover;
    max-width: 119px;
    width: 100%;
}
.product__img:hover {
    transform: scale(1.5);
}

.product__text {
    font-family: "MuliBold", sans-serif;
    font-size: 24px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 29px;
}

.product__span {
    font-family: "MuliItalic", sans-serif;
    font-size: 21px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 7px;
}

.product__btn {
    margin-top: 55px;
    margin-bottom: 78px;
    width: 203px;
    height: 63px;
    border: 2px solid #ffffff;
    position: relative;
    text-align: left;
    padding: 0 0 0 33px;
}

.product__btn::after {
    content: "";
    background-image: url(img/arrow_3139.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 23px;
    right: 35px;
}

.product__column--chocolate {
    background-color: #632f19;
}

.product__column--vegan {
    background-color: #168470;
}

.product__column--lemon {
    background-color: #faac3f;
}

.product__column--turmeric {
    background-color: #c2481a;
}

.story {
    padding: 120px 0 160px;
}

.story__wrapper {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.story__wrapper::after {
    content: "";
    background-image: url(img/stamp_3972.png);
    position: absolute;
    width: 290px;
    height: 216px;
    background-repeat: no-repeat;
    bottom: 363px;
    left: 860px;
}

.story__img {
    margin-left: -106px;
    object-fit: cover;
    max-width: 585px;
    width: 100%;
}

.story__description {
    display: flex;
    flex-direction: column;
    margin-left: -4px;
    margin-top: 138px;
}

.story__title {}

.story__text {
    max-width: 514px;
    margin-top: 43px;
}

.story__btn {
    margin-top: 47px;
    width: 304px;
    height: 63px;
    position: relative;
    text-align: left;
    padding: 0 0 3px 32px;
}

.story__btn::after {
    content: "";
    background-image: url(img/arrow__3264.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 23px;
    right: 42px;
}

.testimonials {
    background-color: #65311b;
    padding-top: 120px;
    padding-bottom: 63px;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testimonials__wrapper::after {
    content: "";
    background-image: url(img/dots_3973.png);
    position: absolute;
    width: 410px;
    height: 301px;
    top: -200px;
    right: 58px;
}

.testimonials__wrapper::before {
    content: "Sarah A";
    position: absolute;
    opacity: 0.6;
    font-family: "MuliExtraBold", sans-serif;
    font-size: 200px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #521905;
    top: 180px;
    left: 428px;
}

.testimonials__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 124px;
}

.testimonials__title {}

.testimonials__span {
    color: #f2612d;
}

.testimonials__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 58px;
    margin-top: 45px;
}

.testimonials__text {
    width: 460px;
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.testimonials__cite {
    font-family: "MuliSemiBoldItalic", sans-serif;
    line-height: 45px;
    color: #f7ae3b;
    font-size: 17px;
    margin-top: 4px;
}

.testimonials__img {
    z-index: 1;
    transition: 1s;
    object-fit: cover;
    max-width: 220px;
    width: 100%;
}
.testimonials__img:hover {
    transform: scale(2) translate(-57%);
}

.testimonials__buttons {
    margin-top: 122px;
    margin-right: 101px;
    margin-bottom: 14px;
    display: flex;
}

.testimonials__btn {
    margin-left: 100px;
    background: transparent;
}

.testimonials__arrow {}

.blog {
    padding-top: 97px;
    padding-bottom: 190px;
}

.blog__wrapper {
    display: flex;
    margin-left: 359px;
}

.blog__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.blog__img {
    margin-top: 59px;
    z-index: 1;
    object-fit: cover;
    max-width: 555px;
    width: 100%;
}

.blog__title {}

.blog__box {
    display: flex;
    align-items: center;
    margin-top: 169px;
}

.blog__container::after {
    content: "";
    background-image: url(img/line_3286.png);
    position: absolute;
    width: 687px;
    height: 12px;
    top: 170px;
    left: 515px;
}

.blog__article {
    margin-left: 63px;
    margin-top: 13px;
}

.blog__name {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
}

.blog__date {
    line-height: 36px;
    letter-spacing: 0.02em;
}

.blog__text {
    max-width: 530px;
    margin-top: 23px;
    padding: 0 0 0 50px;
}

.blog__btn {
    font-family: "MuliBoldItalic", sans-serif;
    background: transparent;
    border: none;
    position: relative;
}

.blog__btn::after {
    content: "";
    background-image: url(img/arrow_3289.png);
    position: absolute;
    width: 18px;
    height: 10px;
    top: 5px;
    right: -30px;
}

.instagram {}

.instagram__title {
    display: flex;
    justify-content: center;
}

.instagram__link {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #0aa566;
    max-width: 200px;
    position: relative;
    margin-left: 34px;
}

.instagram__link::before {
    content: "";
    background-image: url(img/icon_3294.png);
    position: absolute;
    width: 26px;
    height: 26px;
    left: -35px;
    top: 10px;
}

.instagram__inner {
    display: flex;
    margin-top: 40px;
    padding-bottom: 7px;
}

.instagram__list {
    width: 20%;
    position: relative;
}

.instagram__list::before {
    content: "";
    background-image: url(img/shadow_3306.png);
    position: absolute;
    width: 384px;
    height: 384px;
    opacity: 0.4;
}

.instagram__list::after {
    content: "";
    background-image: url(img/instagram_3382.png);
    position: absolute;
    width: 26px;
    height: 26px;
    right: 22px;
    bottom: 22px;
}

.instagram__img {
    object-fit: cover;
    max-width: 384px;
    width: 100%;
}

.footer {}

.footer__top {
    background-color: #f6ac38;
    display: flex;
    padding-top: 67px;
    padding-bottom: 74px;
}

.footer__logo {
    margin-left: 102px;
    margin-top: 67px;
}

.logo {}

.logo_img {}

.footer__title {
    font-family: "MuliBold", sans-serif;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer__information {
    display: flex;
    flex-direction: column;
    margin-left: 293px;
}

.information {}

.information__list {
    margin-top: 23px;
}

.information__item {}

.information__link {
    font-family: "MuliBold", sans-serif;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
}

.footer__payment {
    max-width: 300px;
    margin-left: 149px;
}

.payment {}

.payment__list {
    max-height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 33px;
}

.payment__img {
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer__column {
    margin-left: 107px;
    position: relative;
}

.footer__form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    position: relative;
}

.footer__form::before {
    content: "";
    background-image: url(img/icon_3374.png);
    position: absolute;
    width: 24px;
    height: 19px;
    left: 23px;
    top: 23px;
}

.footer__form::after {
    content: "";
    background-image: url(img/arrow_3385.png);
    position: absolute;
    width: 48px;
    height: 43px;
    bottom: 9px;
    left: 120px;
}

.footer__box {
    font-family: "MuliBold", sans-serif;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 62px;
}

.footer__inner {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #6d450c;
    background: transparent;
    border: none;
    margin-top: 23px;
    margin-right: 24px;
}

.footer__social {
    display: flex;
    position: absolute;
    right: 57px;
    bottom: 47px;
    column-gap: 25px;
}


.footer__social-item {}

.footer__social-link {}

.footer__social-img {}

.footer__bot {
    background-color: #6a2d1e;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__copy {
    font-family: "MuliRegular", sans-serif;
    font-size: 13px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #af8a82;
}

.footer__go-top {
    font-family: "MuliBold", sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
    position: fixed;
    right: 165px;
    bottom: 15px;
}

.footer__go-top::after {
    content: "";
    background-image: url(img/icon_3393.png);
    position: absolute;
    right: -65px;
    bottom: 20px;
    width: 53px;
    height: 53px;
    background-color: #f2662f;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@media screen and (max-width: 768px) {
    .header__menu {
        position: fixed;
        background-color: #0aa566;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 100px;
    }
    .header__burger-btn {
        display: block;
    }
    .header__right-block {
        margin-bottom: 130px;
    }
    .nav__list {
        flex-direction: column;
    }
    .nav__item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 360px) {
    
}