@font-face {
    font-family: "MuliRegular";
    src: url(fonts/Muli-Regular.ttf) format("truetype");

}

@font-face {
    font-family: "MuliBold";
    src: url(fonts/Muli-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(fonts/Muli-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliItalic";
    src: url(fonts/Muli-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliBoldItalic";
    src: url(fonts/Muli-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(fonts/Muli-Semi-BoldItalic.ttf) format("truetype");
}

/*
font-family: "MuliRegular", sans-serif;
font-family: "MuliBold", sans-serif;
font-family: "MuliExtraBold", sans-serif;
font-family: "MuliItalic", sans-serif;
font-family: "MuliBoldItalic", sans-serif;
font-family: "MuliSemiBoldItalic", sans-serif;
border:  1px solid red;
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MuliRegular", sans-serif;
}


.header {
    background-image: url('img/header_bg_img_3669.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__top {
    padding: 70px 100px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__nav {}

.nav {}

.nav__list {
    list-style: none;
    display: flex;
    column-gap: 45px;
}

.nav__item {}

.nav__link {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "MuliBold", sans-serif;
    color: #ffffff;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo {}

.logo__img {}

.header__right-block {
    display: flex;
    align-items: center;
}

.header__personal {
    display: flex;
    column-gap: 45px;
    margin-right: 150px;
    position: relative;
}

.header__personal::after {
    content: "";
    background-image: url(img/line_2944.png);
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    right: -100px;
}

.personal {}

.personal__item {
    position: relative;
}

.personal__link {}

.personal__img {}

.personal__counter {
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    text-align: center;
    line-height: 2;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: -14px;
    left: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__social {
    display: flex;
    column-gap: 45px;
}

.social {}

.social__item {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social__link {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.social__img {}

.header__content {
    display: flex;
    justify-content: center;
}

.header__btn {
    font-family: "MuliBold", sans-serif;
    width: 280px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
    position: relative;
    text-align: left;
    padding: 0 0 0 50px;
}

.header__btn::after {
    content: "";
    background-image: url(img/arrow__3264.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 30px;
    right: 40px;
}

.btn {
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 30px;
    background: transparent;
}

.btn--green {
    background-color: #0aa566;
}

.smoothies {
    padding-top: 100px;
    padding-bottom: 100px;
}

.smoothies__container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.smoothies__title {}

.title {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}

.smoothies__text {
    width: 915px;
    text-align: center;
    margin-top: 55px;
}

.text {
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.smoothies__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: flex-end;
}

.smoothies__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 210px;
}

.smoothies__box:first-child {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(2) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(3) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.smoothies__box:nth-child(5) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(6) {
    border-right: 2px solid #f6edde;
}

.smoothies__box:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__img {}

.smoothies__name {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
    margin-top: 30px;
}

.about {
    background-color: #138370;
}

.about__wrapper {
    display: flex;
    justify-content: space-around;
}

.about__img {
    transform: translate(56px, 85px);
    -webkit-transform: translate(56px, 85px);
    -moz-transform: translate(56px, 85px);
    -ms-transform: translate(56px, 85px);
    -o-transform: translate(56px, 85px);
}

.about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 200px;
}

.about__title {
    font-size: 55px;
    line-height: 60px;
    color: #ffffff;
    position: relative;
}

.about__title::after {
    content: "";
    background-image: url(img/line_3078.png);
    position: absolute;
    width: 450px;
    height: 13px;
    bottom: -10px;
    right: 70px;
}

.about__text {
    color: #cae941;
}

.about__list {
    padding: 0 0 0 25px;
    margin-top: 70px;
}

.about__item {
    list-style-image: url(img/123.png);
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 17px;
}

.about__item-thin {
    font-family: "MuliRegular", sans-serif;
}

.about__btn {
    margin-top: 50px;
    width: 382px;
    height: 63px;
    border: 2px solid #f8b231;
    position: relative;
    text-align: left;
    padding: 0 0 0 40px;
}

.about__btn::after {
    content: "";
    background-image: url(img/arrow__3264.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 25px;
    right: 40px;
}

.product {}

.product__wrapper {
    display: flex;
}

.product__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;

}

.product__img {
    margin-top: 130px;
}

.product__text {
    font-family: "MuliBold", sans-serif;
    font-size: 24px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 35px;
}

.product__span {
    font-family: "MuliItalic", sans-serif;
    font-size: 21px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 10px;
}

.product__btn {
    margin-top: 60px;
    margin-bottom: 80px;
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    position: relative;
    text-align: left;
    padding: 0 0 0 40px;
}

.product__btn::after {
    content: "";
    background-image: url(img/arrow_3139.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 25px;
    right: 40px;
}

.product__column--chocolate {
    background-color: #632f19;
}

.product__column--vegan {
    background-color: #168470;
}

.product__column--lemon {
    background-color: #faac3f;
}

.product__column--turmeric {
    background-color: #c2481a;
}

.story {
    padding: 120px 0 160px;
}

.story__wrapper {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.story__wrapper::after {
    content: "";
    background-image: url(img/stamp_3972.png);
    position: absolute;
    width: 290px;
    height: 216px;
    left: -50px;
    background-repeat: no-repeat;
    bottom: 360px;
    left: 880px;
}

.story__img {}

.story__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story__title {}

.story__text {
    max-width: 511px;
    margin-top: 45px;
}

.story__btn {
    margin-top: 60px;
    width: 304px;
    height: 63px;
    position: relative;
    text-align: left;
    padding: 0 0 0 40px;
}

.story__btn::after {
    content: "";
    background-image: url(img/arrow__3264.png);
    position: absolute;
    width: 30px;
    height: 16px;
    top: 25px;
    right: 40px;
}

.testimonials {
    background-color: #65311b;
    padding-top: 120px;
    padding-bottom: 80px;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testimonials__wrapper::after {
    content: "";
    background-image: url(img/dots_3973.png);
    position: absolute;
    width: 410px;
    height: 301px;
    top: -200px;
    right: 55px;
}

.testimonials__wrapper::before {
    content: "Sarah A";
    position: absolute;
    opacity: 0.6;
    font-family: "MuliExtraBold", sans-serif;
    font-size: 200px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #521905;
    top: 160px;
    left: 420px;
}

.testimonials__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
}

.testimonials__title {}

.testimonials__span {
    color: #f2612d;
}

.testimonials__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}

.testimonials__text {
    width: 460px;
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.testimonials__cite {
    font-family: "MuliSemiBoldItalic", sans-serif;
    line-height: 45px;
    color: #f7ae3b;
}

.testimonials__img {
    z-index: 1;
}

.testimonials__buttons {
    margin-top: 140px;
    margin-right: 130px;
    display: flex;
}

.testimonials__btn {
    margin-left: 100px;
    background: transparent;
}

.testimonials__arrow {}

.blog {
    padding-top: 100px;
    padding-bottom: 150px;
}

.blog__wrapper {
    display: flex;
    justify-content: center;
}

.blog__container {
    display: flex;
    flex-direction: column;
}

.blog__img {
    margin-top: 50px;
    z-index: 1;
}

.blog__title {}

.blog__box {
    display: flex;
    align-items: center;
    margin-top: 150px;
    position: relative;
}

.blog__box::after {
    content: "";
    background-image: url(img/line_3286.png);
    position: absolute;
    width: 687px;
    height: 12px;
    top: 0;
    right: -45px;
}

.blog__article {
    margin-left: 60px;
}

.blog__name {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
}

.blog__date {}

.blog__text {
    max-width: 530px;
    margin-top: 40px;
    padding: 0 0 0 50px;
}

.blog__btn {
    font-family: "MuliBoldItalic", sans-serif;
    background: transparent;
    border: none;
    position: relative;
}

.blog__btn::after {
    content: "";
    background-image: url(img/arrow_3289.png);
    position: absolute;
    width: 18px;
    height: 10px;
    top: 5px;
    right: -30px;
}

.instagram {}

.instagram__title {
    display: flex;
    justify-content: center;

}

.instagram__link {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #0aa566;
    max-width: 200px;
    position: relative;
}

.instagram__link::before {
    content: "";
    background-image: url(img/icon_3294.png);
    position: absolute;
    width: 26px;
    height: 26px;
    left: -35px;
    top: 10px;
}

.instagram__inner {
    display: flex;
    margin-top: 50px;
}

.instagram__list {
    width: 20%;
    position: relative;
}

.instagram__list::before {
    content: "";
    background-image: url(img/shadow_3306.png);
    position: absolute;
    width: 384px;
    height: 384px;
    opacity: 0.4;
}

.instagram__list::after {
    content: "";
    background-image: url(img/instagram_3382.png);
    position: absolute;
    width: 26px;
    height: 26px;
    right: 20px;
    bottom: 20px;
}

.instagram__img {}

.footer {}

.footer__top {
    background-color: #f6ac38;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 100px;
}

.footer__logo {
    margin-left: 100px;
    margin-top: 70px;
}

.logo {}

.logo_img {}

.footer__title {
    font-family: "MuliBold", sans-serif;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer__information {
    display: flex;
    flex-direction: column;
}

.information {}

.information__list {
    margin-top: 30px;
}

.information__item {}

.information__link {
    font-family: "MuliBold", sans-serif;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
}

.footer__payment {
    max-width: 300px;
}

.payment {}

.payment__list {
    max-height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}

.payment__img {
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer__column {
    margin-right: 100px;
    position: relative;
}

.footer__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}

.footer__form::before {
    content: "";
    background-image: url(img/icon_3374.png);
    position: absolute;
    width: 24px;
    height: 19px;
    left: 40px;
    top: 25px;
}

.footer__form::after {
    content: "";
    background-image: url(img/arrow_3385.png);
    position: absolute;
    width: 48px;
    height: 43px;
    bottom: 0;
    bottom: 10px;
    left: 120px;
}

.footer__box {
    font-family: "MuliBold", sans-serif;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 100px;
}

.footer__inner {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #6d450c;
    background: transparent;
    border: none;
    margin-top: 35px;
}

.footer__social {
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 25px;
}


.footer__social-item {
    margin: 10px;
}

.footer__social-link {}

.footer__social-img {}

.footer__bot {
    background-color: #6a2d1e;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__copy {
    font-family: "MuliRegular", sans-serif;
    font-size: 13px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #af8a82;
}

.footer__go-top {
    font-family: "MuliBold", sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
    position: absolute;
    right: 165px;
    bottom: 15px;
}

.footer__go-top::after {
    content: "";
    background-image: url(img/icon_3393.png);
    position: absolute;
    right: -65px;
    bottom: 20px;
    width: 53px;
    height: 53px;
    background-color: #f2662f;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}