@font-face {
    font-family: "MuliRegular";
    src: url(fonts/Muli-Regular.ttf) format("truetype");

}

@font-face {
    font-family: "MuliBold";
    src: url(fonts/Muli-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(fonts/Muli-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "MuliItalic";
    src: url(fonts/Muli-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliBoldItalic";
    src: url(fonts/Muli-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(fonts/Muli-Semi-BoldItalic.ttf) format("truetype");
}

/*
font-family: "MuliRegular", sans-serif;
font-family: "MuliBold", sans-serif;
font-family: "MuliExtraBold", sans-serif;
font-family: "MuliItalic", sans-serif;
font-family: "MuliBoldItalic", sans-serif;
font-family: "MuliSemiBoldItalic", sans-serif;
border:  1px solid red;
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "MuliRegular", sans-serif;
}


.header {
    background-image: url('img/header_bg_img_3669.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__top {
    padding: 70px 100px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {}

.nav {}

.nav__list {
    list-style: none;
    display: flex;
    column-gap: 45px;
}

.nav__item {}

.nav__link {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "MuliBold", sans-serif;
    color: #ffffff;
}

.header__logo {}

.logo {}

.logo__img {}

.header__right-block {
    display: flex;
    align-items: center;
}

.header__personal {
    display: flex;
    column-gap: 45px;
    margin-right: 150px;
}

.personal {}

.personal__item {}

.personal__link {}

.personal__img {}

.personal__counter {}

.header__social {
    display: flex;
    column-gap: 45px;
    padding-right: 50px;
}
.social {
}
.social__item {}

.social__link {
    display: flex;
}

.social__img {}

.header__content {
    display: flex;
    justify-content: center;

}

.header__btn {
    max-width: 280px;
    height: 70px;
    border-radius: 35px;
    font-family: "MuliBold", sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.btn {
    width: 100%;
}

.btn--green {
    background-color: #0aa566;
}

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.smoothies__title {
    font-family: "MuliBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
    padding-top: 100px;
}

.title {
}

.smoothies__text {
    width: 915px;
    height: 122px;
    text-align: center;
    padding-top: 55px;
}

.text {
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.smoothies__wrapper {
    max-width: 1010px;
    height: 380px;
    padding-top: 85px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);
}

.smoothies__choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__img {
}

.smoothies__name {
    font-family: "MuliaBold", sans-serif;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
}

.about {
    background-color: #138370;
    height: 800px;
}

.about__img {
    padding: 80px 142px;
    position: absolute;
}

.about__awesome {
    float: right;
}

.about__title {
    font-family: "MuliBold", sans-serif;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 100px;
    margin-right: 330px;
}

.about__text {
    color: #cae941;
}

.about__list {
    padding-top: 70px;
}

.about__item {
    list-style-image: url(img/123.png);
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 15px;
    margin-left: 27px;
}

.about__item--thin {
    font-family: "MuliRegular", sans-serif;
}

.about__btn {
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    background-color: #138370;
    border: 2px solid #f8b231;
    border-radius: 30px;
    width: 382px;
    height: 63px;
    margin-top: 50px;
}

.product {
    display: flex;
    flex-direction: row;
}

.product__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    padding-top: 130px;
}

.product__img {
    width: 119px;
    height: 303px;
}

.product__link {}

.product__text {
    font-family: "MuliBold", sans-serif;
    font-size: 24px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 35px;
}

.product__span {
    font-family: "MuliItalic", sans-serif;
    font-size: 21px;
    line-height: 32px;
    color: #ffffff;
    padding-top: 10px;
}

.product__btn {
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    background: transparent;
    margin-top: 60px;
    margin-bottom: 80px;
}

.product__column--chocolate {
    background-color: #632f19;
}

.product__column--vegan {
    background-color: #168470;
}

.product__column--lemon {
    background-color: #faac3f;
}

.product__column--turmeric {
    background-color: #c2481a;
}

.story {
    height: 880px;
    display: flex;
    flex-direction: row-reverse;
}

.story__img {
    width: 585px;
    height: 601px;
    padding-top: 130px;
    padding-right: 310px;
    padding-left: 200px;
}

.story__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 310px;
}

.story__title {
    padding-bottom: 40px;
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}

.story__text {
    padding-bottom: 60px;
}

.story__btn {
    font-family: "MuliBold", sans-serif;
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    width: 304px;
    height: 63px;
    background-color: #0aa566;
    border-radius: 30px;
}

.testimonials {
    background-color: #65311b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
    padding-top: 100px;
}

.testimonials__span {
    color: #f2612d;
}

.testimonials__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
    padding-right: 280px;
}

.testimonials__text {
    width: 460px;
    height: 130px;
    font-family: "MuliRegular", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    padding-top: 180px;
}

.testimonials__cite {
    font-family: "MuliSemiBoldItalic", sans-serif;
    line-height: 45px;
    font-style: italic;
    color: #f7ae3b;
}

.testimonials__img {
    width: 220px;
    height: 218px;
    position: absolute;
    right: 580px;
    padding-top: 140px;
}

.blog {
    background-image: url(img/line_3286.png);
    background-repeat: no-repeat;
    background-position: 900px 200px;
    padding-bottom: 200px;
}

.blog__img {
    padding-left: 360px;
}

.blog__title {
    padding-top: 50px;
    padding-left: 360px;
    padding-bottom: 50px;
    font-family: "MuliExtraBold", sans-serif;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}

.blog__article {
    float: right;
    padding-top: 100px;
    padding-right: 400px;
}

.blog__name {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #f2612d;
}
.blog__date {

}
.blog__text {
    width: 450px;
    height: 125px;
    padding-top: 20px;
    padding-left: 50px;
}

.blog__btn {
    font-family: "MuliItalic", sans-serif;
    background: transparent;
    border: none;
}

.instagram {
}

.instagram__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "MuliExtraBold", sans-serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #0aa566;
}

.instagram__inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 50px;
}
.instagram__list {}
.instagram__img {}

.footer {}

.footer__top {
    background-color:  #f6ac38;
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 90px;
    padding-bottom: 100px;
}

.footer__logo {
    padding-left: 100px;
    padding-top: 70px;
}

.logo {}

.logo_img {}

.footer__title {
    font-family: "MuliBold", sans-serif;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information {}

.information__list {
    padding-top: 30px;
}

.information__item {

}

.information__link {
    font-family: "MuliBold", sans-serif;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
}

.footer__payment {
    max-width: 300px;
}

.payment {}

.payment__list {
    max-height: 160px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 40px;
}
.payment__img {
    padding-right: 20px;
    padding-bottom: 20px;
}

.footer__column {
    padding-right: 100px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.footer__box {
    font-family: "MuliBold", sans-serif;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #6d450c;
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
}

.footer__inner {
    font-family: "MuliExtraBold", sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #6d450c;
    background: transparent;
    border: none;
    padding-top: 35px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 140px;
    bottom: -5470px;
}

.social {}

.social__item {
    padding: 10px;
}

.social__link {}

.social__img {}

.footer__bot {
    background-color: #6a2d1e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.footer__copy {
    font-family: "MuliRegular", sans-serif;
    font-size: 13px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #af8a82;
    padding-left: 870px;
}

.footer__go-top {
    font-family: "MuliBold", sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-left: 660px;
}